.marginWrapper {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
}

.box {
  width: 100px;
  height: 100px;
  border-radius: 2px;
}

.blue {
  background-color: dodgerblue;
}

.pink {
  background-color: deeppink;
}
